<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Idea</title>
  </head>
  <body>
    <h2>Idea:</h2>
    Idea Title: <%= @idea.title %><br>
    Idea Content: <%= @idea.body %><br>
    Idea Category: <%= @idea.category.title %><br>
    <p><%= link_to "Go Back to All Ideas", user_path(current_user) %></p> 
  </body>
</html>
