<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @idea.title %>
    <%= @idea.body %>
    <%= @idea.category.title %>
    <%= link_to "All Ideas", user_path(current_user) %>
  </body>
</html>
