<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @idea.title %></h1>
    <%= @idea.body %>
    <%= @idea.category %>
    
  </body>
</html>
